
.nav-item:hover{
    cursor: pointer;
}

#my-orders-btn{
    align-items: flex-end;
}

.user{
    display: flex;
    align-content: end;
}

.navbar{
    background-color: var(--smoothDarkBlue) ;
}

li > input{
    background-color: var(--smoothDarkBlue) ;
}