:root{
  --lightGray: rgba(201, 201, 201, 0.56);
  --navbarBlack: #2f2e2e;
  --lightWhite:rgba(255, 255, 255, 0.7);
  --smoothDarkBlue : rgba(48, 51, 66, 0.38);
}
html,body{
  background-image: url('https://images.cdn4.stockunlimited.net/preview1300/cinema-background-with-movie-objects_1823382.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container{
  height: 100%;
  align-content: center;
}


#container{
  display: flex;
  flex-direction: column;
}


#hall-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}
#event-form{
  color: white !important;
}

.select-div{
  margin-top: 1vw !important;
}



img {
  pointer-events: none;
  -webkit-user-drag: none;
}
