
.card{
    margin-top: 5vw;
    height: 100%;
    width: 30%;
    background-color: var(--cardBlack);
}

.card-header{
    color: var(--lightWhite);
}

.card-footer{
    margin-top: 20%;
}



.remember{
    color: white;
}


.login_btn{
    color: black;
    background-color: var(--yellowButton);
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.button-holder-central{
    text-align: center;
}