.screen {
    background-color: #fff;
    height: 400px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;

    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.showcase-na::marker{
    color: #761818;
}

.showcase-occupied::marker{
    color: rgba(255, 255, 255, 0.6);

}

.showcase-selected::marker{
    color: rgba(0, 0, 0, 0.5);
}


.showcase{
    color: var(--lightWhite);
    background-color: var(--navbarBlack);
    display: flex;
    align-content: center;
    justify-content: space-around;

}

.add-to-cart-container{
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;

}

.add-to-cart-container >h1{
    font-size: 20px;
    color: var(--lightWhite);
    display: flex;
    justify-content: space-around;
    background-color: var(--navbarBlack);

}
.add-to-cart-container >input{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: space-around;
}
#hall-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
.cinema-seats {
    display: flex;
    flex-direction: row;
}
.cinema-seats .seat {
    cursor: pointer;
}
.cinema-seats .seat:hover:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}
.cinema-seats .seat.active:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
}




.left .cinema-row {
    transform: skew(-15deg);
    margin: 0 6px;
}
.left .seat {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #b54041, #f3686a);
    margin-bottom: 10px;
    transform: skew(20deg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.left .seat.occupied {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: white;
    margin-bottom: 10px;
    transform: skew(20deg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.right .seat.occupied {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: white;
    margin-bottom: 10px;
    transform: skew(-8deg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.left .seat:not(:first-child) {
    margin-top: -32px;
}
.left .row-2 {
    transform: skew(-13deg);
}
.left .row-2 .seat {
    transform: skew(18deg);
}
.left .row-3 {
    transform: skew(-12deg);
}
.left .row-3 .seat {
    transform: skew(16deg);
}
.left .row-4 {
    transform: skew(-11deg);
}
.left .row-4 .seat {
    transform: skew(15deg);
}
.left .row-5 {
    transform: skew(-10deg);
}
.left .row-5 .seat {
    transform: skew(12deg);
}
.left .row-6 {
    transform: skew(-9deg);
}
.left .row-6 .seat {
    transform: skew(10deg);
}
.left .row-7 {
    transform: skew(-7deg);
}
.left .row-7 .seat {
    transform: skew(8deg);
}

.right {
    margin-left: 10%;
}
.right .cinema-row {
    transform: skew(7deg);
    margin: 0 6px;
}
.right .seat {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #b54041, #f3686a);
    margin-bottom: 10px;
    transform: skew(-8deg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.right .seat:not(:first-child) {
    margin-top: -32px;
}

.right .row-2 {
    transform: skew(9deg);
}
.right .row-2 .seat {
    transform: skew(-10deg);
}
.right .row-3 {
    transform: skew(10deg);
}
.right .row-3 .seat {
    transform: skew(-12deg);
}
.right .row-4 {
    transform: skew(11deg);
}
.right .row-4 .seat {
    transform: skew(-15deg);
}
.right .row-5 {
    transform: skew(12deg);
}
.right .row-5 .seat {
    transform: skew(-16deg);
}
.right .row-6 {
    transform: skew(13deg);
}
.right .row-6 .seat {
    transform: skew(-18deg);
}
.right .row-7 {
    transform: skew(15deg);
}
.right .row-7 .seat {
    transform: skew(-20deg);
}
